<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="JSF @ApplicationScoped Demo" />

	<ui:define name="maincontent">
		<div class="jumbotron">
			<h1>JSF @ApplicationScoped Demo</h1>
		</div>
		
		<p:messages id="messages"></p:messages>
		<h:form id="form1">
			<p:focus></p:focus>
			
			<p:outputLabel for="username" value="User Name:"></p:outputLabel>
			<p:inputText id="username" value="#{applicationScopeDemoController.username}">
			</p:inputText>
			
			<p:commandButton value="Sign In"
				ajax="true" update="messages, form1:usersTable"
				actionListener="#{applicationScopeDemoController.doSignIn()}">
			</p:commandButton>		
			
			<p:dataTable id="usersTable"
				value="#{applicationScopeDemoController.loggedInUsers}"
				var="username">
		
				<p:column headerText="Signed In Users">
					<h:outputText value="#{username}" />
				</p:column>
				
				<p:column>
					<p:commandButton icon="ui-icon-trash"
						ajax="true" update="messages, form1:usersTable, form1:username"
						immediate="true"
						actionListener="#{applicationScopeDemoController.doRemoveUser(username)}">
					</p:commandButton>
				</p:column>
				
			</p:dataTable>
			
		</h:form>		
		
	</ui:define>

</ui:composition>
