<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="Guess My Number" />

	<ui:define name="maincontent">
		<div class="jumbotron">
			<h1>JSF @SessionScoped Demo</h1>
		</div>
		
		<p>A random number between 0 and 100 has been generated.
		</p>
		
		<p:messages id="messages"></p:messages>		
		<h:form id="guessForm">
			<p:focus></p:focus>
			
			<p:outputLabel for="userGuess" value="Your Guess:"></p:outputLabel>
			<p:inputText id="userGuess"
				value="#{numberGuessController.playerGuessNumber}">
			</p:inputText>
			
			<p:commandButton value="Submit"
				ajax="true" update="messages, guessForm:userGuess"
				actionListener="#{numberGuessController.doGuess()}">
			</p:commandButton>
		</h:form>
	
	</ui:define>

</ui:composition>
