<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="Hello World in JSF" />
	<ui:param name="description" value="Hello World in JSF" />

	<ui:define name="maincontent">
		<div class="jumbotron">
			<h1>JSF @RequestedScoped Demo</h1>
		</div>
		
		<p>Enter your name and age in the form below to get a greeting message.</p>
		
		<p:messages id="messages"></p:messages>
		
		<h:form id="helloForm">
			<p:focus></p:focus>
			<h:panelGrid columns="2">
				<p:outputLabel for="username" value="Your Name:"></p:outputLabel>
				<p:inputText id="username"
					value="#{helloWorldController.username}"></p:inputText>
			
				<p:outputLabel for="age" value="Your Age:"></p:outputLabel>
				<p:inputText id="age"
					value="#{helloWorldController.age}"></p:inputText>
				
				<h:outputText></h:outputText>
				<p:commandButton value="Submit"
					ajax="true" update="messages"
					actionListener="#{helloWorldController.doSubmit()}">
				</p:commandButton>
			</h:panelGrid>
		
		</h:form>
		
	</ui:define>

</ui:composition>
