<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook.xhtml">
	
	<ui:param name="title" value="Chinook - Create New Playlist" />

	<ui:define name="maincontent">
		<h1>Create New Playlist</h1>
		
		<p:messages id="messages"/>
		
		<h:form id="addPlaylistForm">			
			<div class="form-group">
				<p:outputLabel for="trackId" value="Track"></p:outputLabel>
				<p:inputText id="trackId"
					styleClass="form-control"
					value="#{createPlaylistController.trackId}">
				</p:inputText>
				<p:commandButton value="Add to Playlist"
					styleClass="btn btn-primary"
					actionListener="#{createPlaylistController.addTrackToPlaylist()}"
					ajax="false" 
					update="messages, addPlaylistForm:trackId, addPlaylistForm:trackTable">
				</p:commandButton>
			</div>
			<p:dataTable id="trackTable"
				value="#{createPlaylistController.tracks}"
				var="track">
				<p:column>
					<p:commandButton icon="ui-icon-trash"
						immediate="true"
						ajax="false"
						update="trackTable"
						actionListener="#{createPlaylistController.removeTrack(track)}">
					</p:commandButton>
				</p:column>
			
				<p:column headerText="TrackId">
					#{track.trackId}
				</p:column>
				
				<p:column headerText="Track Name">
					#{track.name}
				</p:column>
				
				<p:column headerText="Genre Name">
					#{track.genre.name}
				</p:column>
				
				<p:column headerText="Milliseconds">
					<h:outputText value="#{track.milliseconds}">
					
					</h:outputText>
				</p:column>
			</p:dataTable>
		</h:form>
		
		<h:form id="createPlaylistForm">	
			<div class="form-group">
				<p:outputLabel for="playlistName" value="Playlist Name"></p:outputLabel>
				<p:inputText id="playlistName"
					styleClass="form-control"
					value="#{createPlaylistController.playlistName}">
				</p:inputText>				
			</div>
			
			<p:commandButton value="Create Playlist"
				styleClass="btn btn-success"
				actionListener="#{createPlaylistController.createNewPlaylist()}"
				ajax="false"
				update="messages, addPlaylistForm:playlistName, addPlaylistForm:trackTable">
			</p:commandButton>
		
		</h:form>
	</ui:define>

</ui:composition>
