<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook.xhtml">
	
	<ui:param name="title" value="Chinook - Shopping Bag" />

	<ui:define name="maincontent">
		<div class="container">
			<p:messages id="messages" />
			
			<p:outputPanel rendered="#{empty shoppingBagController.items}">
				<h2>Your shopping bag is empty</h2>
			</p:outputPanel>
			
			<p:outputPanel rendered="#{not empty shoppingBagController.items}">
				<p:panel header="Shopping Bag Contents">
					<h:form id="shoppingBagForm" 
					onkeypress="return event.keyCode != 13">
						<h2>Items in your Bag</h2>
						
						<p:dataTable 
							id="shoppingBagTable"
							value="#{shoppingBagController.items}"
							var="item">
							
							<p:column style="width:50px">
								<p:commandButton icon="ui-icon-trash"
									immediate="false"
									actionListener="#{shoppingBagController.removeItem(item)}"
									ajax="true" update="shoppingBagForm:shoppingBagTable"
								>
								</p:commandButton>
							</p:column>
							
							<p:column headerText="Track Name">
								<h:outputText value="#{item.track.name}" />
							</p:column>
							
							<p:column headerText="Album Title">
								<h:outputText value="#{item.track.album.title}" />
							</p:column>
							
							<p:column headerText="Artist Name">
								<h:outputText value="#{item.track.album.artist.name}" />
							</p:column>
							
							<p:column headerText="Qty" style="width:100px;text-align:center;">
								<p:inputText value="#{item.quantity}" size="2">
									<p:ajax event="change" update="shoppingBagTable"></p:ajax>
								</p:inputText>
							</p:column>
							
							<p:column headerText="Unit Price" styleClass="text-right" style="width:100px">
								<h:outputText value="#{item.unitPrice}">
									<f:convertNumber type="currency" />
								</h:outputText>
							</p:column>
							
							<p:column headerText="Item Total" styleClass="text-right" style="width:100px">
								<h:outputText value="#{item.quantity * item.unitPrice}">
									<f:convertNumber type="currency" />
								</h:outputText>
							</p:column>
							
							<p:columnGroup type="footer">
								<p:row>
									<p:column colspan="6" style="text-align: right"
										footerText="Total Price">
									</p:column>
									<p:column footerText="#{shoppingBagController.totalPrice}" style="text-align:right;">
									</p:column>
								</p:row>
							</p:columnGroup>
						
						</p:dataTable>
		
					</h:form>
				</p:panel>
			</p:outputPanel>
			
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
	</ui:define>

</ui:composition>
