<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard-chinook.xhtml">
	
	<ui:param name="title" value="Chinook - Tracks By Album" />

	<ui:define name="maincontent">
		<f:metadata>
			<f:viewParam name="albumId" value="#{trackByAlbumController.albumId}" />
			<f:event type="preRenderView" listener="#{trackByAlbumController.findTracksByAlbumid()}" />
		</f:metadata>
	
		<div class="container">
			<div class="jumbotron">
				<h1>Tracks From Album "#{trackByAlbumController.selectedAlbum.title}"</h1>
			</div>
			
			<h:form>
			
				<p:dataTable id="trackTable" 
					value="#{trackByAlbumController.tracksByAlbum}" 
					var="track"
					paginator="true" 
					rows="10" 
					paginatorPosition="bottom">
					
					<f:facet name="header">
						Tracks From Album "#{trackByAlbumController.selectedAlbum.title}"
					</f:facet>
					
					<p:column headerText="TrackId" style="width: 100px">
						<h:outputText value="#{track.trackId}" />
					</p:column>			
					
					<p:column headerText="Bytes" styleClass="text-right">
						<h:outputText value="#{track.bytes}">
							<f:convertNumber type="number" />
						</h:outputText>
					</p:column>		
	
					<p:column headerText="Composer">
						<h:outputText value="#{track.composer}" />
					</p:column>		
					
					<p:column headerText="Genre Name">
						<h:outputText value="#{track.genre.name}" />
					</p:column>		
	
					<p:column headerText="Media Type Name">
						<h:outputText value="#{track.mediaType.name}" />
					</p:column>			
	
					<p:column headerText="Milliseconds" styleClass="text-right">
						<h:outputText value="#{track.milliseconds}">
							<f:convertNumber type="number" />
						</h:outputText>
					</p:column>		
	
					<p:column headerText="Track Name">
						<h:outputText value="#{track.name}" />
					</p:column>			
									
					<p:column headerText="Unit Price" styleClass="text-right">
						<h:outputText value="#{track.unitPrice}">
							<f:convertNumber type="currency" />
						</h:outputText>
					</p:column>			
					
					<p:column>
						<p:commandLink value="Add to Bag"
							action="#{shoppingBagController.addItem( track )}"
							ajax="false">					
						</p:commandLink>
					</p:column>		
									
				</p:dataTable>
			
			</h:form>
		</div>
		
	</ui:define>

</ui:composition>